.description {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
@media screen and (max-width: 1280px) {
    .description {
        width: 1184px;
        left: 148px;
    }
}
@media screen and (max-width: 768px) {
    .description {
        width: 768px;
        padding-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .description {
        width: 320px;
        padding-left: 0px;
    }
}