.description {
    width: 1017px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 1280px) {
    .description {
        width: 1017px;
        left: 148px;
    }
}
@media screen and (max-width: 768px) {
    .description {
        width: 720px;
        padding-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .description {
        width: 280px;
        left: 16px;
    }
}