.description {
    display: flex;
    max-width: 1017px;
}
@media screen and (max-width: 1280px) {
    .description {
        width: 1017px;
        height: 516px;
        left: 148px;
    }
}
@media screen and (max-width: 768px) {
    .description {
        width: 720px;
        height: 607px;
        left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .description {
        width: 280px;
        height: 958px;
        left: 16px;
    }
}