.city__picture {
  width: 460px;
  left: 148px;
  grid-column: 1;
  grid-row: 2;
}
@media screen and (max-width: 1280px) {
    .city__picture {
      width: 460px;
      left: 148px;
      grid-column: 1;
      grid-row: 2;
    }
}
@media screen and (max-width: 768px) {
    .city__picture {
      width: 340px;
      left: 148px;
      grid-column: 1;
      grid-row: 2;
    }
}
@media screen and (max-width: 320px) {
    .city__picture {
      width: 320px;
    }
}