.city__picture {
  width: 460px;
  left: 148px;
  grid-column: 1;
  grid-row: 2;
}
@media screen and (min-width:768px) and (max-width: 1280px) {
    .city__picture {
      width: 100%;
      left: 148px;
      grid-column: 1;
      grid-row: 2;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .city__picture {
      width: 100%;
      left: 148px;
      grid-column: 1;
      grid-row: 2;
    }
}
@media screen and (max-width: 320px) {
    .city__picture {
      width: 100%;
    }
}