.city {
    width: 100vw;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(3, auto);
    background-color: black;
    padding-top: 50px;
}
@media screen and (max-width: 1280px) {
    .city {
      width: 1184px;
      display: grid;
      grid-template-columns: repeat(2, 45%);
      grid-template-rows: repeat(3, auto);
    }
}
@media screen and (max-width: 768px) {
    .city {
      width: 768px;
      padding-left: 24px;
      display: grid;
      grid-template-columns: repeat(2, 45%);
      grid-template-rows: repeat(3, auto);
    }
}
@media screen and (max-width: 320px) {
    .city {
      width: 320px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
    }
}