.city {
    width: 100vw;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(3, auto);
    padding-top: 50px;
    padding-bottom: 50px;
    column-gap: 24px;
}
@media screen and (min-width:768px) and (max-width: 1280px) {
    .city {
      width: 100vw;
      display: grid;
      grid-template-columns: repeat(2, 45%);
      grid-template-rows: repeat(3, auto);
      column-gap: 16px;
}
}
@media screen and (min-width: 0px) and (max-width: 768px) {
    .city {
      width: 100vw;
      display: flex;
      flex-direction: column;
    }
}
