.visit {
    width: 1184px;
    left: 48px;
    background-color: black;
    color: white;
    font-family: 'Inter';
    font-style: normal;
}
@media screen and (max-width: 1280px) {
    .visit {
      width: 1184px;
      left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .visit {
      width: 768px;
      left: 0px;
    }
}
@media screen and (max-width: 320px) {
    .visit {
      width: 321.26px;
      left: 0px;
    }
}