.visit {
    width: 100vw;
    left: 48px;
    background-color: black;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    padding-top: 50px;
    align-items: center;

}
@media screen and (max-width: 1280px) {
    .visit {
      width: 1184px;
      left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .visit {
      width: 768px;
      padding-right: 24px;
    }
}
@media screen and (max-width: 320px) {
    .visit {
      width: 320px;
      padding-right: 0;
    }
}