.city__name {
    align-self: self-start;
    width: 456px;
    left: 648px;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    grid-column: 2;
    grid-row: 2;
}
@media screen and (max-width: 1280px) {
    .city__name {
      width: 456px;
      left: 648px;
      font-weight: 400;
      font-size: 18px;
      line-height: 48px;
      grid-column: 2;
      grid-row: 2;
    }
}
@media screen and (max-width: 768px) {
    .city__name {
      width: 352px;
      left: 392px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      grid-column: 2;
      grid-row: 2;
    }
}
@media screen and (max-width: 320px) {
    .city__name {
      width: 288px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
    }
}