.header {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding-top: 40px;
    background-color: black;
}
@media screen and (max-width: 1280px) {
    .header {
      width: 1184px;
      padding-left: 148px;
    }
}
@media screen and (max-width: 768px) {
    .header {
      width: 768px;
      padding-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .header {
      width: 320px;
      padding-left: 0;
    }
}