.header__main-ilustration {
    max-width: 984px;
    filter: gray;
    filter: grayscale(1);
}
@media screen and (min-width:768px) and (max-width: 1280px) {
    .header__main-ilustration {
      width: 80%;
      left: 148px;
    }
}
@media screen and (min-width:00px) and (max-width: 768px) {
    .header__main-ilustration {
      width: 100%;
      left: 0px;
    }
}