.header__main-ilustration {
    width: 984px;
    filter: gray;
    filter: grayscale(1);
}
@media screen and (max-width: 1280px) {
    .header__main-ilustration {
        width: 100%;
        /*height: 615px;*/
        left: 148px;
    }
}
@media screen and (max-width: 768px) {
    .header__main-ilustration {
        width: 768px;
        height: 480px;
        left: 0px;
    }
}
@media screen and (max-width: 320px) {
    .header__main-ilustration {
        width: 320px;
        height: 200px;
        left: 0px;
    }
}