.city__title {
    width: 460px;
    font-weight: 900;

}
@media screen and (max-width: 1280px) {
    .city__title {
      width: 460px;
      left: 148px;
      font-size: 72px;
      line-height: 76px;
      grid-column: 1;
      grid-row: 1;
    }
}
@media screen and (max-width: 768px) {
    .city__title {
      width: 340px;
      left: 24px;
      font-size: 42px;
      line-height: 46px;
      grid-row: 1;
      grid-column: 1;        
    }
}
@media screen and (max-width: 320px) {
    .city__title {
      width: 288px;
      left: 16px;
      font-size: 32px;
      line-height: 35px;
    }
}