.visit__title {
    position: absolute;
    max-width: 656px;
    font-weight: 900;
    text-align: center;
}
@media screen and (max-width: 1280px) {
    .visit__title {
        width: 656px;
        height: 76px;
        left: 312px;
        font-size: 72px;
        line-height: 76px;
    }
}
@media screen and (max-width: 768px) {
    .visit__title {
        width: 656px;
        height: 76px;
        left: 56px;
        font-size: 72px;
        line-height: 76px;
    }
}
@media screen and (max-width: 320px) {
    .visit__title {
        width: 288px;
        height: 35px;
        left: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}