.city__content-top  {
    max-width: 1184px;
    grid-row: 1;
    grid-column: 2;
}
@media screen and (max-width: 1280px) {
    .city__content-top  {
      grid-row: 1;
      grid-column: 2;
    }
}
@media screen and (max-width: 768px) {
    .city__content-top  {
      grid-row: 1;
      grid-column: 2;
    }
}
@media screen and (max-width: 320px) {
    .city__content-top  {
      top: 0;
    }
}